/* CSS declarations go here */


.fullScreenDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

html {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.div-with-spinner {
  color: '#F00';
}

/* circle__wrapper will help you to position the div in the center of the page */
.spot-wrapper { 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
}

.spot-wrapper .spot {
  display:block; 
  height: 120px; 
  width: 120px; 
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
  -webkit-animation: growUp .3s 0s; /* You can remove 1.5s if you don't want delay */
  -moz-animation: growUp .3s 0s; 
  -ms-animation: growUp .3s 0s; 
  -o-animation: growUp .3s 0s; 
  animation: growUp .3s 0s; 
}


@-webkit-keyframes growUp {   
  0%  { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); }
}

@-moz-keyframes growUp {
  0%  { -moz-transform: scale(0); }
  100% { -moz-transform: scale(1); }
}

.bunny-lg {
    font-size: 120px;
}

.bunny-white {
    color: white;
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x,
.icon-stack-3x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.icon-stack-1x {
    line-height: inherit;
}
.icon-stack-2x {
    font-size: 1.5em;
}
.icon-stack-3x {
    font-size: 2em;
}